* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;   
}

h1 {
    color: red;
    margin: 25px auto;
    text-align: center;
    font-size: 86px;
    box-shadow: inset 0 0 10px #000000;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
}

img {
    display: block;
    margin: 85px auto;
    width: 600px;
}
nav {
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    padding: 10px;
    width: 580px;
}
h2 {
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    padding: 20px;
    width: 590px;
}

section {
    margin: 20px auto;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 600px;
}

.input-min {
    font-size: 40px;
    width: 240px;
    height: 50px;
    font-weight: 500;
    line-height: 47px;
    opacity: 0.7;
    text-align: center;
    box-shadow: 1px 1px 1px 4px #ffa510;
    border-radius: 10px;
    border: none;   
 
}
.input-max {
    font-size: 40px;
    width: 240px;
    height: 50px;
    font-weight: 500;
    line-height: 47px;
    opacity: 0.7;
    text-align: center;
    box-shadow: 1px 1px 1px 4px #ffa510;
    border-radius: 10px;
    margin-left: 60px;
    border: none;  
}
.input-com-borda:hover {
  border: 1px solid #00ff;
  transition: border-color 0.3s ease; 
}

button {
    background-color: #dd0000;
    margin: 0px auto;
    text-align: center;
    font-size: 40px;
    color: black;
    box-shadow: 1px 0px 1px 3px #ffa510;
    border-radius: 15px;
    padding: 20px;
    width: 580px;
     
}
@media (max-width: 600px) and (orientation: landscape) {
    h1 {
        font-size: 50px;
        width: 300px;
    }
    img {
        width: 300px;
    }
    nav {
        font-size: 20px;
        width: 300px;
    }
    h2 {
        font-size: 30px;
        width: 300px;
    }
    section {
        font-size: 20px;
        width: 300px;
    }
    .input-min {
        font-size: 20px;
        width: 100px;
    }
    .input-max {
        font-size: 20px;
        width: 100px;
        margin-left: 20px;
    }
    button {
        font-size: 20px;
        width: 300px;
    }
}
